<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Jennifer Liu">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Hobby Tracker Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link 
    href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" 
    rel="stylesheet"
  >
  <link rel="stylesheet" href="../style/home.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="#">Hobbies</a></li>
        <li><a href="#">Friends</a></li>
        <li class="logo">HOBOTRACK</li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="index.html">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="favorite-hobby">
      <h2>Favorite Hobby: Watching Movies</h2>
      <p class="hobby-description">I really enjoy watching movies! My latest movie watched was Captain America: Brave New World!</p>

      <div class="hobby-details">
        <div class="hobby-image">
          <div class="img-placeholder">
            <img src="../movie.jpg" alt="Captain America Movie" width="175" height="175">
          </div>
        </div>

        <div class="stats">
          <div class="stat-box">
            <h3>100+</h3>
            <p>hours spent</p>
          </div>
          <div class="stat-box">
            <h3>200+</h3>
            <p>movies rated</p>
          </div>
          <div class="stat-box">
            <h3>90+</h3>
            <p>movies watched</p>
          </div>
          <div class="stat-box">
            <h3>20+</h3>
            <p>5 star reviews</p>
          </div>
        </div>
      </div>
    </section>
    <section class="other-hobbies">
      <h2>Other Hobbies</h2>
      <p class="other-hobbies-description col-9">
        Some of my other hobbies include... (short description?)
      </p>

      <div class="hobby-cards">  
        <a href="example_hobby.html">
            <div class="card reading-hobby">
                <h3>Reading</h3>
                <p>I recently just read Mistborn by Brandon Sanderson!</p>
            </div>
        </a>
        <a href="#">
            <div class="card">
                <h3>Collecting Cards</h3>
                <p>I’ve been into collecting for years and I’ve just got a few boxes of Pokemon to open!</p>
            </div>
        </a>
        <a href="#">
            <div class="card">
                <h3>Sports: Volleyball</h3>
                <p>
                    I was introduced recently and have been playing in 
                    some amateur leagues!
                </p>
            </div>
        </a>
        <a href="add_hobby.html" >
            <div class="card add-hobby-card">
                <h3>Add Hobby</h3>
                <p>Add a new hobby to your home page!</p>
            </div>
        </a>
      </div>
    </section>
  </main>
  <footer>
    <p>
      &copy; 2024 Website. All rights reserved. This is a Class Project! 
    </p>
  </footer>
  </body>
</html>